# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = os.path.join("Weather_Database/WeatherPy_database.csv")

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Current Description
0,0,Brewster,100,US,2022-11-12 05:11:06,93,41.3973,-73.6171,71.01,13.80,overcast clouds
1,1,Kruisfontein,0,ZA,2022-11-12 05:11:07,63,-34.0033,24.7314,72.23,2.06,clear sky
2,2,Hermanus,0,ZA,2022-11-12 05:11:07,73,-34.4187,19.2345,60.80,7.67,clear sky
3,3,Punta Arenas,0,CL,2022-11-12 05:11:07,80,-53.1500,-70.9167,33.91,2.30,clear sky
4,4,La Paz,18,BO,2022-11-12 05:08:48,30,-16.5000,-68.1500,42.78,2.30,few clouds
5,5,Upernavik,96,GL,2022-11-12 05:11:08,79,72.7868,-56.1549,11.07,8.39,overcast clouds
6,6,Aklavik,40,CA,2022-11-12 05:11:08,95,68.2191,-135.0107,4.33,8.03,scattered clouds
7,7,Sisimiut,81,GL,2022-11-12 05:11:09,88,66.9395,-53.6735,12.90,8.95,broken clouds
8,8,South Venice,42,US,2022-11-12 05:11:09,97,27.0531,-82.4243,74.98,4.21,scattered clouds
9,9,Mataura,100,NZ,2022-11-12 05:11:09,43,-46.1927,168.8643,58.48,6.04,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Current Description
0,0,Brewster,100,US,2022-11-12 05:11:06,93,41.3973,-73.6171,71.01,13.80,overcast clouds
1,1,Kruisfontein,0,ZA,2022-11-12 05:11:07,63,-34.0033,24.7314,72.23,2.06,clear sky
8,8,South Venice,42,US,2022-11-12 05:11:09,97,27.0531,-82.4243,74.98,4.21,scattered clouds
10,10,Rikitea,99,PF,2022-11-12 05:11:10,87,-23.1203,-134.9692,74.08,15.57,light rain
13,13,Bowmore,100,US,2022-11-12 05:11:11,92,34.9421,-79.3031,70.75,14.97,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
690,690,Vega De Alatorre,0,MX,2022-11-12 05:28:01,84,20.0333,-96.6333,75.99,9.37,clear sky
692,692,Dwarka,4,IN,2022-11-12 05:28:02,42,22.2394,68.9678,84.60,11.74,clear sky
693,693,Lumberton,100,US,2022-11-12 05:28:02,94,34.6182,-79.0086,71.46,12.66,overcast clouds
699,699,Dosso,23,NE,2022-11-12 05:29:04,28,13.0490,3.1937,77.07,10.27,few clouds
700,700,Maler Kotla,0,IN,2022-11-12 05:29:04,26,30.5167,75.8833,75.06,7.54,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Current Description
0,0,Brewster,100,US,2022-11-12 05:11:06,93,41.3973,-73.6171,71.01,13.80,overcast clouds
1,1,Kruisfontein,0,ZA,2022-11-12 05:11:07,63,-34.0033,24.7314,72.23,2.06,clear sky
8,8,South Venice,42,US,2022-11-12 05:11:09,97,27.0531,-82.4243,74.98,4.21,scattered clouds
10,10,Rikitea,99,PF,2022-11-12 05:11:10,87,-23.1203,-134.9692,74.08,15.57,light rain
13,13,Bowmore,100,US,2022-11-12 05:11:11,92,34.9421,-79.3031,70.75,14.97,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
690,690,Vega De Alatorre,0,MX,2022-11-12 05:28:01,84,20.0333,-96.6333,75.99,9.37,clear sky
692,692,Dwarka,4,IN,2022-11-12 05:28:02,42,22.2394,68.9678,84.60,11.74,clear sky
693,693,Lumberton,100,US,2022-11-12 05:28:02,94,34.6182,-79.0086,71.46,12.66,overcast clouds
699,699,Dosso,23,NE,2022-11-12 05:29:04,28,13.0490,3.1937,77.07,10.27,few clouds
700,700,Maler Kotla,0,IN,2022-11-12 05:29:04,26,30.5167,75.8833,75.06,7.54,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp","Current Description","Lat", "Lng"]].copy()

# Display sample data
hotel_df

                 City Country  Max Temp Current Description      Lat       Lng
0            Brewster      US     71.01     overcast clouds  41.3973  -73.6171
1        Kruisfontein      ZA     72.23           clear sky -34.0033   24.7314
8        South Venice      US     74.98    scattered clouds  27.0531  -82.4243
10            Rikitea      PF     74.08          light rain -23.1203 -134.9692
13            Bowmore      US     70.75     overcast clouds  34.9421  -79.3031
..                ...     ...       ...                 ...      ...       ...
690  Vega De Alatorre      MX     75.99           clear sky  20.0333  -96.6333
692            Dwarka      IN     84.60           clear sky  22.2394   68.9678
693         Lumberton      US     71.46     overcast clouds  34.6182  -79.0086
699             Dosso      NE     77.07          few clouds  13.0490    3.1937
700       Maler Kotla      IN     75.06           clear sky  30.5167   75.8833

[271 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Brewster,US,71.01,overcast clouds,41.3973,-73.6171,
1,Kruisfontein,ZA,72.23,clear sky,-34.0033,24.7314,
8,South Venice,US,74.98,scattered clouds,27.0531,-82.4243,
10,Rikitea,PF,74.08,light rain,-23.1203,-134.9692,
13,Bowmore,US,70.75,overcast clouds,34.9421,-79.3031,
...,...,...,...,...,...,...,...
690,Vega De Alatorre,MX,75.99,clear sky,20.0333,-96.6333,
692,Dwarka,IN,84.60,clear sky,22.2394,68.9678,
693,Lumberton,US,71.46,overcast clouds,34.6182,-79.0086,
699,Dosso,NE,77.07,few clouds,13.0490,3.1937,
700,Maler Kotla,IN,75.06,clear sky,30.5167,75.8833,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Brewster,US,71.01,overcast clouds,41.3973,-73.6171,Heidi's Inn
1,Kruisfontein,ZA,72.23,clear sky,-34.0033,24.7314,Oyster Bay House Rental
8,South Venice,US,74.98,scattered clouds,27.0531,-82.4243,"Island Sun Inn & Suites - Venice, Florida Hist..."
10,Rikitea,PF,74.08,light rain,-23.1203,-134.9692,People ThankYou
13,Bowmore,US,70.75,overcast clouds,34.9421,-79.3031,
14,Hilo,US,74.93,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Port Alfred,ZA,70.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel & Spa
23,Namikupa,TZ,77.88,overcast clouds,-10.8333,39.6000,
28,Nabire,ID,84.99,overcast clouds,-3.3667,135.4833,Hotel Nusantara I
34,Port Hedland,AU,89.65,clear sky,-20.3167,118.5667,The Esplanade Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df["Hotel Name"].replace("",np.nan, inplace=True)
# hotel_df.head(10)
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Brewster,US,71.01,overcast clouds,41.3973,-73.6171,Heidi's Inn
1,Kruisfontein,ZA,72.23,clear sky,-34.0033,24.7314,Oyster Bay House Rental
8,South Venice,US,74.98,scattered clouds,27.0531,-82.4243,"Island Sun Inn & Suites - Venice, Florida Hist..."
10,Rikitea,PF,74.08,light rain,-23.1203,-134.9692,People ThankYou
14,Hilo,US,74.93,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Port Alfred,ZA,70.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel & Spa
28,Nabire,ID,84.99,overcast clouds,-3.3667,135.4833,Hotel Nusantara I
34,Port Hedland,AU,89.65,clear sky,-20.3167,118.5667,The Esplanade Hotel
37,Palmer,US,70.41,light rain,42.1584,-72.3287,Wedgewood Motel
40,Kapaa,US,75.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [14]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.count()

City                   252
Country                252
Max Temp               252
Current Description    252
Lat                    252
Lng                    252
Hotel Name             252
dtype: int64

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
data_file = "Vacation_Search/WeatherPy_Vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

["\n<dl>\n<dt>Hotel Name</dt><dd>Heidi's Inn</dd>\n<dt>City</dt><dd>Brewster</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.01 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Oyster Bay House Rental</dd>\n<dt>City</dt><dd>Kruisfontein</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 72.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Island Sun Inn & Suites - Venice, Florida Historic Downtown & Beach Getaway</dd>\n<dt>City</dt><dd>South Venice</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 74.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 74.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 74.93 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel & Spa</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 70.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Nusantara I</dd>\n<dt>City</dt><dd>Nabire</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Esplanade Hotel</dd>\n<dt>City</dt><dd>Port Hedland</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 89.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Wedgewood Motel</dd>\n<dt>City</dt><dd>Palmer</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 70.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.18 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   41.3973  -73.6171
1  -34.0033   24.7314
8   27.0531  -82.4243
10 -23.1203 -134.9692
14  19.7297 -155.0900
18 -33.5906   26.8910
28  -3.3667  135.4833
34 -20.3167  118.5667
37  42.1584  -72.3287
40  22.0752 -159.3190

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

# Create a figure to add the Google map as a layer

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))